body {
 background-image: url("../img/karaa.JPG");
 background-color: #DAF7A6;
 background-size: contain;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Indie Flower', sans-serif;
	font-size: 120px;
	transition: -webkit-text-stroke-color 2s, color 2s;
}
.title:hover{
	color:lightgreen;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.menu{
	margin:24px;
}
.menu_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'Shadows Into Light', cursive;
  	font-size: 80px;
}
.work_list{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	font-family: 'Shadows Into Light', cursive;
  	font-size: 28px;
}
@media only screen and (max-width: 720px) {
  .title {
    font-size: 80px;
  }
}
@media only screen and (max-width: 720px) {
  .menu_list {
    font-size: 50px;
  }
}
#menu_home:hover{
	color:purple;
}
#menu_about:hover{
	color:pink;
}
#menu_works:hover{
	color:skyblue;
}
a:link {
  color: red;
}
a:visited {
  color: lilac;
}
