style.css
#container{
	background-color:red;
	width: 500px;
	height: 450px
}
#title{
	font-sizes: 100px;
	font-style:
	color: white;
	>stroke
}
#wavy{
	
}
#hickory_bbq{
	
}
#net_vt{
	
}
#calories{
	
}
